/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {*/
    /*padding: 60px 15px 0;*/
/*}*/
/*.container .text-muted {*/
    /*margin: 20px 0;*/
/*}*/

/*.footer > .container {*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
/*}*/

/*code {*/
    /*font-size: 80%;*/
/*}*/




/* my css */

/*#begin {*/
    /*padding-top: 120px;*/
/*}*/

#orange-background-wrapper {
    background: url('../SSAssets/background@2x.png') center center fixed;
    background-size: 100%;
    color: white;
}

@media(min-width: 991px) {

    #orange-background-wrapper {
        background: url('../SSAssets/background@2x.png') no-repeat;
        background-size: 100%;
        color: white;
    }
}



.navbar-default {
    background-color: initial;
    border-color: initial;
}

.nav-bar-default {
    border: none;
}

nav.navbar.navbar-default {
    border-bottom: none;
    padding-top: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.nav-bar-default > .container {
    padding-top: 10px;
}

#logo-image {
    width: 7%;
    float: left;
    margin-right: 35px;
    margin-top: 5px;
}

input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 12px;
    width: 90%;
}

#big-heading {
    margin: 20px 0;
}

#small-heading {
    margin: 50px 0;
}

#email-collection-form {
    position: relative;
}

.glyphicon-arrow-right {
    position: absolute;
    right: 15%;
    top:12px;
    color: gray;
}

.section-one, .section-two {
    text-align: center;
}

@media (min-width: 992px) {
    #who-we-are-text, #how-it-works-text {
        margin-top: 35%;
    }
}