/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f5f5f5;
}

/* Swipe Share Css */

#orange-background-wrapper {
    background: url('../SSAssets/background.png') center center fixed;
    background-size: 100%;
    color: white;
}

@media(min-width: 991px) {

    #orange-background-wrapper {
        background: url('../SSAssets/background.png') no-repeat;
        background-size: 100%;
        color: white;
    }
}

.navbar-default {
    background-color: initial;
    border-color: initial;
}

.nav-bar-default {
    border: none;
}

.navbar .navbar-header {
    margin-left: 25px;
}

nav.navbar.navbar-default {
    border: none;
    padding-top: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.nav-bar-default > .container {
    padding-top: 10px;
}

#logo-image {
    width: 7%;
    float: left;
    margin-right: 35px;
    margin-top: 5px;
}

input[type="email"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 12px;
    width: 90%;
    color: gray;
}

#big-heading {
    margin: 20px 0;
}

#small-heading {
    margin: 50px 0;
}

#email-collection-form {
    position: relative;
}

@media(max-width: 768px) {
    #email-collection-form {
        margin-bottom: 50px;
    }
}

.glyphicon-arrow-right {
    position: absolute;
    right: 15%;
    top:12px;
    color: gray;
}

.section-one, .section-two {
    text-align: center;
}

.section-two {
    margin-bottom: 50px;
}

#who-we-are-text, #how-it-works-text {
    margin-left: 15%;
    margin-right: 15%;
}

@media (min-width: 992px) {
    #who-we-are-text, #how-it-works-text {
        margin-top: 35%;
    }
}


footer {
    background: url('../SSAssets/background.png') center center fixed;
    background-size: 100%;
    color: white;
}

footer img {
    float: right;
    width: 45px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}